html, body{
    overflow: hidden;
}
nav{
    background-color: #36D578;
}
img.logo{
    height: 65px;
    width: 65px;
}
.all {
    display: inline-flex;
}
.page-footer{
    background-color: #36D578;
}
.orange{
    background-color: #009E96 !important;
}
.orange-text{
    color: #00BB8E !important;
}
.webapp{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5px;
    background-color: black;
}
.collection{
    width: 300px;
    margin: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    max-width: 99%;
    height: 550px;
    background: #fff;
    overflow: auto;
    font-family: 'Open Sans';
    border-radius: 4px;
}
.menu-routes-title{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
.menu-routes{
    align-items: center;
    margin-left: 80%;
    background-color: #36D578;
    overflow-y: auto;
}
.contenedor::-webkit-scrollbar{
    width: 7px;
    background: black;
    border-radius: 10px;
}
.contenedor::-webkit-scrollbar-thumb-{
    background: white;
    border-radius:5px;
}